name: CI - LAB 03

on:
  push:
    branches: ["main"]
    paths:
      - "lab-03/**"
      - ".github/workflows/lab-03-ci.yml"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Compose
        run: |
          docker compose -f lab-03/docker-compose.yml up -d
          sleep 5
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
      
      - name: Check containers
        run: docker ps

      - name: Create a todo
        run: |
          sleep 5
          curl -X POST http://localhost:3000/todos \
          -H "Content-Type: application/json" \
          -d '{"title":"my first todo"}'
        
      - name: Print todo
        run: |
          curl -X GET http://localhost:3000/todos

      - name: Update todo
        run: |
          curl -X PUT http://localhost:3000/todos/1 \
            -H "Content-Type: application/json" \
            -d '{"done":true}'

      - name: Delete todo
        run: |
          curl -X DELETE http://localhost:3000/todos/1    

      - name: Clean up
        run: docker compose -f lab-03/docker-compose.yml down
